<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>PETIKESRA - Pojok Literasi Keuangan</title>
  <meta name="description" content="Platform LMS untuk belajar online dengan mudah. Temukan berbagai kursus menarik, dari mana saja, kapan saja.">
  <meta name="keywords" content="LMS, kursus keuangan, belajar online, Sumatera Barat LMS, LMS sumbar">
  <meta name="author" content="Rizky Primadona">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicons -->
  <link href="/assets/landing_page/img/favicon.png" rel="icon">
  <link href="/assets/landing_page/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/landing_page/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/landing_page/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/landing_page/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/landing_page/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/assets/landing_page/css/main.css" rel="stylesheet">

  <style>
    #logo {
      transition: background-color 0.3s ease, padding 0.3s ease;
      transform: scale(1.6); 
   
    }

    #logo.scrolled {
      transform: scale(1.7); 
     
    }
    .btn-custom {
      border-color: #108F5F;
      color: #108F5F;
    }
    .btn-custom:hover {
      background-color: #108F5F;
      color: #fff;
    }
    
    .btn-custom-detail {
      border-color: #108F5F;
      color: #108F5F;
    }

    .btn-custom-detail:hover {
      background-color: #fff;
      color: #fff;
    }
    .card-img-top {
      height: 150px;
      object-fit: cover;
    }

    @media (max-width: 768px) {
      .card-img-top {
        height: 150px;
      }
    }
  </style>
  <!-- =======================================================
  * Template Name: Passion
  * Template URL: https://bootstrapmade.com/passion-bootstrap-template/
  * Updated: Jul 21 2025 with Bootstrap v5.3.7
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header fixed-top">

    <div class="topbar d-flex align-items-center dark-background">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">petikesra@gmail.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>0751-7051536</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" aria-label="Twitter" role="link" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" aria-label="Facebook" role="link" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" aria-label="Instagram" role="link" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" aria-label="Linkedin" role="link" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <h1 class="sitename">PETIKESRA</h1>
          <img src="/assets/landing_page/img/logo.webp" id="logo" alt="" >
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#home" class="active">Beranda</a></li>
            <li><a href="#about">Tentang</a></li>
            <li><a href="#webinar">Webinar</a></li>
            <li><a href="#selflearning">Self Learning</a></li>
            <li><a href="#peraturan">Peraturan</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#contact">Kontak</a></li>

            {% if frappe.session.user != "Guest" %}

              <li class="dropdown">
                <a class="bi bi-chevron-down toggle-dropdown" href="#">
                  <img src="{% if user_image %}{{ user_image }}{% else %}/assets/frappe/images/default-avatar.png{% endif %}"
                      alt="User Avatar" class="rounded-circle me-2" width="30" height="30">
                  {{ user_fullname }}
                </a>
                <ul>
                  <li><a class="dropdown-item" href="/lms/user/{{ frappe.session.user }}">Profil Saya</a></li>
                  <li><hr></li>
                  <li><a class="dropdown-item" href="/?cmd=web_logout">Logout</a></li>
                </ul>
              </li>
              {% else %}
              <li><a href="/login">Login</a></li>
            {% endif %}

          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

      </div>

    </div>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="home" class="hero section dark-background">

      <div class="hero-background">
        <img src="/assets/landing_page/img/bg/bg-14.webp" alt="" data-aos-duration="1000">
        <div class="overlay"></div>
      </div>

      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="hero-content">
           
              <h1>PETIKESRA</h1>
              <p>POJOK LITERASI KEUANGAN DAERAH SECARA TERINTEGRASI</p>
              <div class="hero-actions">
                <a href="/lms" class="btn-primary">Mulai Belajar</a>
                <a href="https://www.youtube.com/watch?v=EAZlzGNVNu0" class="btn-secondary glightbox">
                  <i class="bi bi-play-circle"></i>
                  <span>Lihat Video</span>
                </a>
              </div>
              <!-- <div class="hero-stats">
                <div class="stat-item">
                  <span class="stat-number">500+</span>
                  <span class="stat-label">Projects Completed</span>
                </div>
                <div class="stat-item">
                  <span class="stat-number">98%</span>
                  <span class="stat-label">Client Satisfaction</span>
                </div>
                <div class="stat-item">
                  <span class="stat-number">24/7</span>
                  <span class="stat-label">Support Available</span>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="content">
              <h2>“Membangun Literasi Keuangan Daerah Terintegrasi”</h2>
              <p class="lead">PETIKESRA hadir sebagai pusat literasi digital dan self-learning</p>
              <p>Program PETIKESRA (Pojok Literasi Keuangan Daerah Secara Terintegrasi) dikembangkan sebagai solusi atas kebutuhan peningkatan kapasitas ASN di bidang pengelolaan keuangan daerah. Melalui platform berbasis Learning Management System (LMS), program ini menyediakan materi pembelajaran, literasi keuangan, serta ruang pembinaan yang dapat diakses kapan saja dan di mana saja.</p>
              <p>PETI KESRA bukan hanya tempat belajar, melainkan juga sarana kolaborasi antar instansi dan OPD untuk memperkuat tata kelola keuangan yang akuntabel, transparan, dan berkelanjutan. Dengan konsep self-learning, ASN dapat meningkatkan pengetahuan, keterampilan, serta memperoleh sertifikasi kompetensi secara mandiri. Hal ini diharapkan dapat mendorong terciptanya pengelolaan keuangan daerah yang lebih profesional, modern, dan terpercaya.</p>

              <div class="stats-container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="stat-item">
                      <div class="number">8+</div>
                      <div class="label">Webinar</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="stat-item">
                      <div class="number">10+</div>
                      <div class="label">Pelatihan</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="stat-item">
                      <div class="number">45+</div>
                      <div class="label">Peraturan</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="image-wrapper">
              <img src="/assets/landing_page/img/webinar/3.webp" alt="About Us" class="img-fluid main-image">
              <div class="floating-card">
                <div class="card-content">
                  <i class="bi bi-award"></i>
                  <div class="text">
                    <h5>Inovasi</h5>
                    <span>Digital 2025</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Featured Services Section -->
    <section id="webinar" class="featured-services section light-background">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>WEBINAR</h2>
        <p>Program webinar yang dirancang untuk menambah wawasan, berbagi pengalaman, dan memberikan solusi praktis bagi peserta di berbagai bidang.</p>
      </div><!-- End Section Title -->

      <div class="container">

     <div class="row">
        <div class="col-lg-6">
          <div class="services-content" data-aos-duration="900">
            <span class="subtitle">Webinar Online</span>
            <h2>Belajar Lebih Mudah dan Interaktif</h2>
            <p data-aos-duration="800">
              Ikuti webinar online bersama para pemateri berpengalaman. 
              Dapatkan wawasan baru melalui kelas interaktif yang bisa diakses 
              langsung dari rumah atau kantor, lengkap dengan sesi tanya jawab 
              dan materi eksklusif.
            </p>
            <div class="mt-4" data-aos-duration="1100">
              <a href="#" class="btn-consultation">
                <span>Detail</span><i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="services-image">
            <img src="/assets/landing_page/img/webinar/2.webp" alt="Webinar Online" class="img-fluid">
            <div class="shape-circle"></div>
            <div class="shape-accent"></div>
          </div>
        </div>
      </div>

        <div class="row mt-5" data-aos-duration="1000">
          <div class="col-12">
            <div class="services-slider swiper init-swiper">
              <script type="application/json" class="swiper-config">
                {
                  "slidesPerView": 3,
                  "spaceBetween": 20,
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "navigation": {
                    "nextEl": ".swiper-nav-next",
                    "prevEl": ".swiper-nav-prev"
                  },
                  "breakpoints": {
                    "320": {
                      "slidesPerView": 1
                    },
                    "768": {
                      "slidesPerView": 2
                    },
                    "992": {
                      "slidesPerView": 3
                    }
                  }
                }
              </script>
              <div class="swiper-wrapper">
                {% if batches and batches|length > 0 %}
                  {% for batch in batches %}
                    <div class="swiper-slide">
                      <div class="service-card">
                        <img src="/assets/landing_page/img/indonesia/{{ loop.index }}.webp" class="card-img-top rounded shadow" alt="Feature Image">
                        <a href="/lms/batches/details/{{ batch.name }}"  class="arrow-link" aria-label="Detail"><i class="bi bi-arrow-right"></i></a>
                        <div class="content">
                          <h4>
                            <a href="/lms/batches/details/{{ batch.name }}" class="mt-3" >{{ batch.title }}</a>
                          </h4>
                          <p>{{ batch.description | truncate(120, True, '...') }}</p>
                          <p>
                            <i class="bi bi-calendar-event me-2"></i>
                            {{ batch.start_date.strftime("%d %B %Y") }} - {{ batch.end_date.strftime("%d %B %Y") }}
                          </p>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                  <div class="row mb-3">
                    <div class="col-12 text-center">
                      <span class="badge text-dark px-3 py-2 rounded-pill bg-green">
                        <h2>Belum ada webinar dalam waktu dekat, akan segera hadir</h2>
                      </span>
                    </div>
                  </div>
                {% endif %}

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="swiper-navigation">
              <button class="swiper-nav-prev"><i class="bi bi-chevron-left"></i></button>
              <button class="swiper-nav-next"><i class="bi bi-chevron-right"></i></button>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Featured Services Section -->

    <!-- How We Work Section -->
    <section id="selflearning" class="how-we-work section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>Self Learning</h2>
        <p>Belajar mandiri dengan materi terstruktur yang bisa diakses kapan saja.</p>
      </div><!-- End Section Title -->

      <div class="container">
        {% if courses %}
          <div class="steps-grid">
            {% for course in courses %}
                <div class="step-card">
                  <img src="{{ course.image }}" class="card-img-top img-fluid rounded shadow" alt="{{ course.title }}">
                    <a href="/lms/courses/{{ course.name }}" class="btn step-number mt-4">Lihat</a>
                  <h3>{{ course.title }}</h3>
                  <p>{{ course.short_introduction | truncate(100, True, "...") }}</p>
                </div>
            {% endfor %}
          </div>
        {% else %}
          <p class="text-muted">Belum ada course tersedia saat ini.</p>
        {% endif %}


        <div class="row">
          <div class="col-12 text-center">
              <a href="/lms/courses" class="btn btn-custom rounded-pill px-4 py-2 d-inline-flex align-items-center">
                <i class="bi bi-grid me-2"></i>
                <span>Lihat Semua</span>
              </a>
          </div>
        </div>
      </div>

    </section><!-- /How We Work Section -->

    <!-- Services Section -->
    <section id="peraturan" class="services section light-background">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>Peraturan dan Udang-undang</h2>
        <p>Temukan berbagai jenis peraturan dan undang-undang sebagai dasar hukum 
    serta pedoman pelaksanaan kebijakan secara resmi dan terpercaya.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 col-md-6">
            <div class="service-card featured">
              <div class="service-icon">
                <i class="bi bi-code-slash"></i>
              </div>
              <div class="service-content">
                <h3><a href="#">Peraturan Mentri Keuangan</a></h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec rutrum congue leo eget malesuada.</p>
                <div class="service-meta">
                  <span class="badge popular">Most Popular</span>
                  <span class="price">Starting at $2,999</span>
                </div>
                <a href="#" class="btn-cta">
                  <span>Get Started</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
              <div class="service-bg"></div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="service-card">
              <div class="service-icon">
                <i class="bi bi-palette"></i>
              </div>
              <div class="service-content">
                <h3><a href="#">Peraturan Mentri Dalam Negri</a></h3>
                <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar.</p>
                <div class="service-meta">
                  <span class="price">Starting at $1,899</span>
                </div>
                <a href="#" class="btn-cta">
                  <span>Learn More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
              <div class="service-bg"></div>
            </div>
          </div>

          
          <div class="col-lg-3 col-md-6">
            <div class="service-card compact">
              <div class="service-icon">
                <i class="bi bi-shield-check"></i>
              </div>
              <div class="service-content">
                <h3><a href="#">Undang-undang</a></h3>
                <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar vel. Sed porttitor lectus nibh vestibulum ac diam sit.</p>
                <a href="#" class="btn-cta">
                  <span>Discover</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
              <div class="service-bg"></div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="service-card compact">
              <div class="service-icon">
                <i class="bi bi-cloud-upload"></i>
              </div>
              <div class="service-content">
                <h3><a href="#">Peraturan Presiden</a></h3>
                <p>Pellentesque in ipsum id orci porta dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p>
                <a href="#" class="btn-cta">
                  <span>Get Quote</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
              <div class="service-bg"></div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="service-card compact">
              <div class="service-icon">
                <i class="bi bi-graph-up-arrow"></i>
              </div>
              <div class="service-content">
                <h3><a href="#">Peraturan Daerah</a></h3>
                <p>Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                <a href="#" class="btn-cta">
                  <span>Explore</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
              <div class="service-bg"></div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="service-card compact">
              <div class="service-icon">
                <i class="bi bi-graph-up-arrow"></i>
              </div>
              <div class="service-content">
                <h3><a href="#">Peraturan Gubernur</a></h3>
                <p>Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                <a href="#" class="btn-cta">
                  <span>Explore</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
              <div class="service-bg"></div>
            </div>
          </div>

        </div>
      </div>

    </section><!-- /Services Section -->

   

    <!-- Faq Section -->
    <section id="faq" class="faq section light-background">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>Frequently Asked Questions</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-10">

            <div class="faq-wrapper">

              <div class="faq-item faq-active">
                <div class="faq-header">
                  <div class="faq-icon">
                    <i class="bi bi-question-circle"></i>
                  </div>
                  <h4>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar?</h4>
                  <div class="faq-toggle">
                    <i class="bi bi-plus"></i>
                    <i class="bi bi-dash"></i>
                  </div>
                </div>
                <div class="faq-content">
                  <div class="content-inner">
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                  </div>
                </div>
              </div><!-- End FAQ Item -->

              <div class="faq-item">
                <div class="faq-header">
                  <div class="faq-icon">
                    <i class="bi bi-question-circle"></i>
                  </div>
                  <h4>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem?</h4>
                  <div class="faq-toggle">
                    <i class="bi bi-plus"></i>
                    <i class="bi bi-dash"></i>
                  </div>
                </div>
                <div class="faq-content">
                  <div class="content-inner">
                    <p>Donec rutrum congue leo eget malesuada. Sed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Proin eget tortor risus. Curabitur aliquet quam id dui posuere blandit.</p>
                  </div>
                </div>
              </div><!-- End FAQ Item -->

              <div class="faq-item">
                <div class="faq-header">
                  <div class="faq-icon">
                    <i class="bi bi-question-circle"></i>
                  </div>
                  <h4>Vestibulum ante ipsum primis in faucibus orci luctus?</h4>
                  <div class="faq-toggle">
                    <i class="bi bi-plus"></i>
                    <i class="bi bi-dash"></i>
                  </div>
                </div>
                <div class="faq-content">
                  <div class="content-inner">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                  </div>
                </div>
              </div><!-- End FAQ Item -->

              <div class="faq-item">
                <div class="faq-header">
                  <div class="faq-icon">
                    <i class="bi bi-question-circle"></i>
                  </div>
                  <h4>Nulla facilisi morbi tempus iaculis urna id volutpat?</h4>
                  <div class="faq-toggle">
                    <i class="bi bi-plus"></i>
                    <i class="bi bi-dash"></i>
                  </div>
                </div>
                <div class="faq-content">
                  <div class="content-inner">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                  </div>
                </div>
              </div><!-- End FAQ Item -->

              <div class="faq-item">
                <div class="faq-header">
                  <div class="faq-icon">
                    <i class="bi bi-question-circle"></i>
                  </div>
                  <h4>Praesent sapien massa, convallis a pellentesque nec?</h4>
                  <div class="faq-toggle">
                    <i class="bi bi-plus"></i>
                    <i class="bi bi-dash"></i>
                  </div>
                </div>
                <div class="faq-content">
                  <div class="content-inner">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint.</p>
                  </div>
                </div>
              </div><!-- End FAQ Item -->

            </div>

          </div>
        </div>

      </div>

    </section><!-- /Faq Section -->


    <!-- Contact Section -->
    <section id="contact" class="contact section">
      <!-- Section Title -->
      <div class="container section-title">
        <h2>Kontak</h2>
        <p>Hubungi Kami</p>
      </div><!-- End Section Title -->

      <div class="container">
        <div class="contact-main-wrapper">
          <div class="map-wrapper">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1521.9467242470853!2d100.36067646093908!3d-0.9193170351512261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2fd4b8d603333257%3A0xa3bd0e69cfbce2f!2sBadan%20Keuangan%20Daerah%20Pemerintah%20Provinsi%20Sumatera%20Barat!5e0!3m2!1sen!2sid!4v1758875710079!5m2!1sen!2sid" title="Map lokasi kantor" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

          <div class="contact-content">
            <div class="contact-cards-container">
              <div class="contact-card">
                <div class="icon-box">
                  <i class="bi bi-geo-alt"></i>
                </div>
                <div class="contact-text">
                  <h4>Alamat</h4>
                  <p>Jl. Khatib Sulaiman No.43, Lolong Belanti, Kec. Padang Utara, Kota Padang, Sumatera Barat 25173</p>
                </div>
              </div>

              <div class="contact-card">
                <div class="icon-box">
                  <i class="bi bi-envelope"></i>
                </div>
                <div class="contact-text">
                  <h4>Email</h4>
                  <p>petikesra@gmail.com</p>
                </div>
              </div>

              <div class="contact-card">
                <div class="icon-box">
                  <i class="bi bi-telephone"></i>
                </div>
                <div class="contact-text">
                  <h4>Telp</h4>
                  <p>0751-7051536</p>
                </div>
              </div>

              <div class="contact-card">
                <div class="icon-box">
                  <i class="bi bi-clock"></i>
                </div>
                <div class="contact-text">
                  <h4>Jam Operasional</h4>
                  <p>Senin-Jumat: 7:30 - 17:00</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer position-relative dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">PETIKESRA</span>
          </a>
          <p>“Membangun Literasi Keuangan Daerah Terintegrasi”</p>
          <div class="social-links d-flex mt-4">
            <a href="" aria-label="Twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
            <a href="" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
            <a href="" aria-label="Linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Link Terkait</h4>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About us</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Fitur</h4>
          <ul>
            <li><a href="#">Webinar</a></li>
            <li><a href="#">Self Learning</a></li>
            <li><a href="#">Peraturan</a></li>
            <li><a href="#">Undang-undang</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Kontak Kami</h4>
          <p>Jl. Khatib Sulaiman No.43, Lolong Belanti,</p>
          <p>Kec. Padang Utara, Kota Padang, Sumatera Barat</p>
          <p>Indonesia</p>
          <p class="mt-4"><strong>Telp:</strong> <span>0751-7051536</span></p>
          <p><strong>Email:</strong> <span>petikesra@gmail.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">PETIKESRA</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="/assets/landing_page/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/landing_page/vendor/php-email-form/validate.js"></script>
  <script src="/assets/landing_page/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/landing_page/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/landing_page/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/landing_page/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/assets/landing_page/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="/assets/landing_page/js/main.js"></script>
   <script>
    window.addEventListener('scroll', function() {
        const logo = document.getElementById('logo');
        if (window.scrollY > 100) { // scroll lebih dari 70px
            logo.src = "/assets/landing_page/img/logo-border.webp"; 
            logo.classList.add('scrolled');
        } else {
            logo.src = "/assets/landing_page/img/logo.webp"; 
            logo.classList.remove('scrolled');
        }
    });
  </script>
</body>

</html>